{% extends 'base.html' %}


{% block content__right__margin %}

<div class="content__margin"></div>

{% endblock content__right__margin %}



{% block content_left %}

<div class="contacts">
    <div class="contacts__row">
        <div class="contacts__title">Организации</div>
        <div class="contacts__item">
            <div class="contacts__item__title">ГТРК “Южный Урал”</div>
            <div class="contacts__item__address contacts__item__point">Адрес: Россия, Челябинск, улица Орджоникидзе, 54Б, 454091</div>
            <div class="contacts__item__phone contacts__item__point">Телефон: 8 (351) 267-13-45</div>
            <div class="contacts__item__facs contacts__item__point">Факс: 8 (351) 267-17-93</div>
            <div class="contacts__item__email contacts__item__point">E-mail: cheltv@cheltv.ru</div>
            <a href="#" class="contacts__item__email contacts__item__point social-network">Whats-app: Whatsapp@cheltv.ru</a>
            <a href="#" class="contacts__item__email contacts__item__point social-network">Телеграмм: @naruto</a>
            <a href="#" class="contacts__item__email contacts__item__point social-network">Группа ВК: www.vk.com/mybestpublik</a>
        </div>
        <div class="contacts__item">
            <div class="contacts__item__title">ГТРК “Южный Урал”</div>
            <div class="contacts__item__address contacts__item__point">Адрес: Россия, Челябинск, улица Орджоникидзе, 54Б, 454091</div>
            <div class="contacts__item__phone contacts__item__point">Телефон: 8 (351) 267-13-45</div>
            <div class="contacts__item__facs contacts__item__point">Факс: 8 (351) 267-17-93</div>
            <div class="contacts__item__email contacts__item__point">E-mail: cheltv@cheltv.ru</div>
            <a href="#" class="contacts__item__email contacts__item__point social-network">Whats-app: Whatsapp@cheltv.ru</a>
            <a href="#" class="contacts__item__email contacts__item__point social-network">Телеграмм: @naruto</a>
            <a href="#" class="contacts__item__email contacts__item__point social-network">Группа ВК: www.vk.com/mybestpublik</a>
        </div>
        <div class="contacts__item">
            <div class="contacts__item__title">ГТРК “Южный Урал”</div>
            <div class="contacts__item__address contacts__item__point">Адрес: Россия, Челябинск, улица Орджоникидзе, 54Б, 454091</div>
            <div class="contacts__item__phone contacts__item__point">Телефон: 8 (351) 267-13-45</div>
            <div class="contacts__item__facs contacts__item__point">Факс: 8 (351) 267-17-93</div>
            <div class="contacts__item__email contacts__item__point">E-mail: cheltv@cheltv.ru</div>
            <a href="#" class="contacts__item__email contacts__item__point social-network">Whats-app: Whatsapp@cheltv.ru</a>
            <a href="#" class="contacts__item__email contacts__item__point social-network">Телеграмм: @naruto</a>
            <a href="#" class="contacts__item__email contacts__item__point social-network">Группа ВК: www.vk.com/mybestpublik</a>
        </div>
    </div>
</div>

{% endblock content_left %}